html {
    scroll-behavior: smooth;
  }
  .cardService {
    transition: all 0.3s ease-in-out;
  }
  
  .cardService:hover {
    transform: scale(1.1) rotate(2deg);
    box-shadow: 0px 15px 30px rgba(0, 123, 255, 0.5);
  }
  
  .cardService p {
    transition: color 0.3s ease-in-out;
  }
  
  .cardService:hover p {
    color: #FFFFFF; /* Change text color on hover */
  }